<div class="input-group">

  <span class="input-group-addon icon-addon">
    <span class="glyphicon glyphicon-search"></span>
  </span>

  <input
    type="text" id="search-video" name="search-video" class="form-control" placeholder="Search" class="form-control"
    [(ngModel)]="searchCriteria.value" (keyup.enter)="doSearch()"
  >

  <div class="input-group-btn" dropdown placement="bottom right">
    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" dropdownToggle>
      {{ getStringChoice(searchCriteria.field) }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav" *dropdownMenu>
      <li *ngFor="let choice of choiceKeys" class="dropdown-item" role="menu-item">
        <a class="dropdown-item" href="#" (click)="choose($event, choice)">{{ getStringChoice(choice) }}</a>
      </li>
    </ul>
  </div>
</div>
